{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/confrmdetail.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="signup.js" defer></script>

  <title>Confirm Details</title>
</head>
<body>
	<div class="main_container">
		
		<div class="header">

			<div class="back_arrow_div">
			
			<a href="{% url 'login' %}" style="color: white;">
				
					<i class="fa-solid fa-arrow-left"></i>
	
			</a>
		</div>

			<div class="title_div">
				Forget Password
			</div>

		</div>

		<div class="body">
			{% if messages %}
				<div class="alert alert-danger">
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</div>
			{% endif %}
			<form method="post" action="{% url 'comfirmdetail' %}">
				{% csrf_token %}
			<div class="email_div">

				<div class="email_label">
					Enter Your Email
				</div>

				<div class="email_label_div">
					<input class="email_input" name="email">
				</div>
				
			</div>

			<div class="pswd_div">
				
				<div class="pswd_label">
					Enter Date of Birth
				</div>

				<div class="pswd_input_div">
					<input class="pswd_input" name="dob" type="date">
				</div>
        

			</div>

			

			<div class="submut_div">
				<button class="submit_btn">
					Submit
				</button>
			</div>
		</form>
		</div>

	</div>
  
</body>
<script>

  </script>
</html>
