{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/earnings.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Affiliate Earnings</title>
</head>
<body>

  <div class="main_container">

    <div class="header">

      <div class="back_arrow_div">
        <a href="{% url 'home' id_string=id_string %}" style="color: white;">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>

      <div class="title_div">
        Affiliate Earnings
      </div>

    </div>

    <div class="body">

      <div class="balc_div">
        <p class="balc_txt">{{username}}'s current Earning: {{earning}} Rs</p>
      </div>
'
      
      <div class="withdraw_div">

        {% if earning > 1999 %}
        <a href="{% url 'withdraw' id_string=id_string %}" style="color: white;">
          <button class="withdraw_btn">
            Withdraw
          </button>
        </a>
          {% else %}
            <button class="withdraw_btn" disabled style="opacity: .5">
              Minimum earning needs to be 2000 Rs to withdraw
            </button>
          {% endif %}

      </div>

      

      <div  class=list_label_div>

        <!-- <p class="list_txt">List:</p> -->

      </div>

      <div class="earnings_list_div_container">

          <!-- <div class="earnings_list_div">
            <div class="name">
              Name 
            </div>
    
            <div class="amount">
              XXrs
            </div>
    
            <div class="level">
              First
            </div>
    
          </div> -->
          
          <div class="affiliation_users">

            <div class="affiliation_users_name">
              Name
            </div>
  
            <div class="affiliation_users_email">
              Email
            </div>
  
          </div>
  
          {% if users %}
          {% for user in users %}
  
          <div class="affiliation_users">
  
            <div class="affiliation_users_name">
              {{ user.username }}
            </div>
  
            <div class="affiliation_users_email">
              {{ user.email }}
            </div>
  
          </div>
          {% endfor %}
          {% else %}
          {% endif %}




        </div>
        
      
      
    </div>

  </div>
  
</body>
</html>